<h3>Posts</h3>

<% if logged_in? %>
	<%= link_to 'Log Out', logout_path, method: :delete %>
	<%= link_to "Create Post", new_post_path %>
<% else %>
	<%= link_to "Log In", login_path %>
<% end %>

<% @posts.each do |p| %>
<div class="title"><%= p.title %></div>
<div class="body"><%= p.body %></div>
<div class="author">
	<% if logged_in? %>
		<%= p.user.username %>
	<% else %>
		Log in to see who wrote this!
	<% end %>
</div>
</br></br>
<% end %> 

